body{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* South Park */
.south_park{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 600px;
}
/* Whack your nightmare */
.box_whack{
    width: 200px;
    height: 200px;
    border: 2px dotted grey;
}
.grid_whack{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 600px;
    height: 600px;
}

.nightmare{
    background-image: url("/static/WHACK/reality.jpg?c2a979aad5d6");
    background-size: cover;
}
/* Rock Paper Scisors */
.choices_rps {
    display: flex; 
  }
.choice_rps{

    background-size: cover;
    background-size: 300px 100px; 
}
#rock{
    background-image: url("/static/RPS/rock.jpg?ccb9be5ba8c8");
}
rock" id="1"></div>
        <div class="paper" id="2"></div>
        <div class="scisors