body{
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* South Park */
.south_park{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 600px;
    cursor: pointer;
}
/* Whack your nightmare */
.box_whack{
    width: 200px;
    height: 200px;
    border: 2px dotted grey;
}
.grid_whack{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 600px;
    height: 600px;
}

.nightmare{
    background-image: url("/static/WHACK/reality.jpg?c2a979aad5d6");
    background-size: cover;
    cursor: pointer;
}
/* Rock Paper Scisors */
.choices_rps {
    display: flex;
    justify-content:space-between ; 
  }
.choice_rps{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-size: 200px 200px;
    cursor: pointer; 
    border: 2px solid darkcyan;
    border-radius: 20%;
}
#rock{
    background-image: url("/static/RPS/rock.jpg?ccb9be5ba8c8");
}
#paper{
    background-image: url("/static/RPS/paper.jpg?b80a326db3de");
}
#scisors{
    background-image: url("/static/RPS/scisors.jpg?3221e975642a");
}
.choice_vs{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-size: 200px 200px;
}
/* Connect_4 */
.grid_4{
    border: 2px solid;
    display: flex;
    justify-content:space-between ; 
    width:500px;
    margin: auto;
    height: 600px;
}
.grid_4 div{
    height: 80px;
    width: 80px;
    border: 1px solid red;
    border-radius: 50%;
}
