{% extends 'base.html' %}

{% block content %}
<div class="list-group">
    <a href="{% url 'south_park' %}" class="list-group-item list-group-item-action">South Park (memory game)</a>
    <a href="{% url 'whack_your_nightmare' %}" class="list-group-item list-group-item-action">Whack your nightmare(whack a mole)</a>
    <a href="{% url 'rock_paper_scissors' %}" class="list-group-item list-group-item-action">Rock Paper Scissors</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Work in progress...</a>
  </div>
{% endblock %}